.footer{
    background-color:#252525;
    color:white;
    padding: 40px 0 30px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.footer .container {
    height: inherit;
}

.footer-title {
    font-size:22px;
    margin-bottom: 16px
}

.footer-span-fs {
    font-size: 14px
}


@media (min-width:576px) and  (max-width: 992px) {
    .footer-title {
        font-size:20px
    }
}

@media   (min-width: 340px) and (max-width: 575px) {
    .footer-title {
        font-size:18px
    }
    .footer-span-fs {
        font-size: 13px
    }
    
}
@media (max-width: 339px) {
    .footer-title {
        font-size:14px
    }
    .footer-span-fs {
        font-size: 12px
    }
}